# Node
node_modules/
/.pnp/
.pnp.js

# Build outputs
dist/
build/
coverage/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Environment
.env
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Temporary
tmp/
temp/
uploads/

# Prisma client
/prisma/client/

# Misc
.nyc_output/
.cache/
reporter-output/
